.main {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.subA {
  height: 100%;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.subB {
  height: 100%;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.subC {
  height: 100%;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
